In [ ]:
import pandas as pd

In [5]:
data = {
    'name':['Alka','Ram','Seema'],
    'age':[25,30,28],
    'city':['Nashik','Pune','Patna']
}
df = pd.DataFrame(data)
print(df)

    name  age    city
0   Alka   25  Nashik
1    Ram   30    Pune
2  Seema   28   Patna

In [ ]:
data = {
    'name':['Alka','Ram','Seema'],
    'age':[25,30,28],
    'city':['Nashik','Pune','Patna']
}
df = pd.DataFrame(data, index=["Value1","Value2","Value3"])
print(df.loc["Value2"])

name     Ram
age       30
city    Pune
Name: Value2, dtype: object